<app-filter-bar (filterQuerys)="filterCountries($event)" [regions]="regions$ | async"></app-filter-bar>
<div class="countries-list-container"
    *ngIf="countries$ | async as countries">
    <div class="countries-header">
        <div>FLAG</div>
        <div class="countries-header-sortable">
            COUNTRY NAME 
            <div class="sorting-arrow-up" (click)="sortCountries('Name', false)"></div>
            <div class="sorting-arrow-down" (click)="sortCountries('Name', true)"></div>
        </div>
        <div class="countries-header-sortable">
            CAPITAL
            <div class="sorting-arrow-up" (click)="sortCountries('Capital', false)"></div>
            <div class="sorting-arrow-down" (click)="sortCountries('Capital', true)"></div>
        </div>
        <div class="countries-header-sortable">
            REGION
            <div class="sorting-arrow-up" (click)="sortCountries('Region', false)"></div>
            <div class="sorting-arrow-down" (click)="sortCountries('Region', true)"></div>
        </div>
        <div>LANGUAGES</div>
    </div>
    <div class="countries-row"
        *ngFor="let country of countries | slice: lowerRange:higherRange">
        <div><img class="flag-img" src={{country.flag}}></div>
        <div [innerHTML]="country.countryName | highlight:searchQuery"></div>
        <div [innerHTML]="country.capital | arrayToString | highlight:searchQuery"></div>
        <div [innerHTML]="country.region"></div>
        <div [innerHTML]="country.languages | arrayToString | highlight:searchQuery"></div>
    </div>
    <app-paginator (range)="setRange($event)" [itemsLength]="countries.length"></app-paginator>
</div>