$gray-accent-color: #DDDDDD;
$gray-font: #999;
$defualt-font-family: 'Arial';

.countries-list-container{

        .countries-header{
            color:$gray-font;
            font-size: 8pt;

            div{
                font-weight: 300;
            }
        }

        .countries-row{
            display: grid;
            grid-template-columns: 80px 300px 200px 150px auto;
            align-items: center;
            
            border-bottom: 1px solid $gray-accent-color;
        }
        
        .flag-img{
            height:20px;
        }
}