$gray-accent-color: #DDD;
$gray-font: #999;
$defualt-font-family: 'Arial';

@mixin countries-row-shared{
    display: grid;
    grid-template-columns: 130px 250px 200px 130px auto;
    align-items: center;
    padding-left: 30px;

    > div {
        padding-left:10px;
        padding-right:10px;
    }
}

.countries-list-container{

    .countries-header{
        @include countries-row-shared();
        color:$gray-font;
        font-size: 8pt;
        height: 50px;

        div{
            font-weight: 300;
        }
        .countries-header-sortable{
            display: flex;
            align-items: center;
        }
    }

    .countries-row{
        @include countries-row-shared();
        border-bottom: 1px solid $gray-accent-color;
        height: 40px;
        font-size: 10pt;
    }
    
    .flag-img{
        height:20px;
        border: 1px solid $gray-accent-color;
    }
}

.sorting-arrow-down{
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 7px $gray-accent-color;
    border-bottom-width: 0;
    margin-left: 5px;
    cursor: pointer;
}

.sorting-arrow-up {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 7px $gray-accent-color;
    border-top-width: 0;
    margin-left: 5px;
    cursor: pointer;
}